.side-drower-container {
  width: 288px;
  background-color: #a5855a;
  height: 100vh;
  cursor: pointer;
  .app-name {
    text-align: center;
    color: white;
    background-color: #b27f4d;
    padding: 30px;
  }

  .page-name {
    background-color: #593302;
    height: 70px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding-left: 30px;
    &:hover {
      background-color: #846338;
    }
    .title {
      color: white;
      font-size: 15px;
      font-weight: 400;
      text-decoration: none;
    }
    &.active {
      background-color: #846338;
    }
  }
}
